@import url('/src/res/fonts/css/urbanist.css');

/* General page styles */
:root {
  --background-color: #021710;
  --background-color-tp: #021710bb;
  --background-lighter: #b2b3b53a;
  --accent-color: #5ACDB4;
  --accent-contrast: #CD5A73;
  --text-color: #E4E4E5;
}

html {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  font-family: 'Urbanist', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 1.125rem;
}

.section-break {
  height: 1px;
  width: 100%;
  background-color: #5ACDB4;
}


/* Header styles */
.page-header {
  display: flex;
  background-color: var(--background-color-tp);
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  position: sticky;
  top: 0px;
  transform: translateY(0px);
  transition: transform .25s;
  padding: 1rem;
}

.page-header.is-minimized {
  transform: translateY(-200px);
}

.name-title {
  text-align: center;
}

.header-links {
  display: flex;
  margin: 0px; 
  width: 100%;
  gap: 1.5rem;
}

.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-button {
  display: none;
}

.header-link-item {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  padding: 0px;
}

li {
  list-style: none;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:visited {
  color: var(--accent-contrast);
}

.bottom-border {
  height: 2px;
  width: 0px; 
  background-color: var(--accent-color);
  transition: width .25s;
}

.bottom-border.is-hovered {
  width: 100%;
}



/* Project display styles */
.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-item {
  width: 300px;
  min-height: 300px;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--background-lighter);
}

.preview-image {
  height: 150px;
  width: 300px;
  background-color:var(--accent-color);
  border: 0px;
  border-radius: 5px;
}


/* Contact styles */
.contact-section {
  width: 100%;
  margin-bottom: 1rem;
}

.contact-form {
  width: 75%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem;
}

.contact-form > label {
  display: flex;
  flex-direction: column;
}

.contact-message {
  resize: none;
  height: 10ch;
}


/* Footer styles */
.page-footer {
  margin: 1rem 0rem;
  text-align: center;
}



/* Mobile styles */
@media (max-width: 475px) {


  .page-header {
    filter: brightness(100%);
    height: 100px;
    overflow: show;
  }

  .header-links {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .nav-section {
      transform: translate(125%, 40%);
      transition: transform .25s,
        background-color .25s;
        width: 100%;
  }

  .nav-section.is-displayed {
    transform: translate(10%, 40%);
    background-color: var(--background-color);
  }



  .header-link-item {
    font-size: 2rem;
  }

  .name-title {
    display: none;
    /* width: 100%;
    text-align: center; */
  } 

  .dropdown-button {
    display: block;
    width: 3rem;
    height: 3rem;
  }
}